*.history
**/__pycache__/
*.egg-info
*.DS_Store
*.out
*.h5
**.swp
**.pyc
*.lock
questions.txt
script.txt
*job_error*
*job_output*
**/model_cache/
**/logs/
**/generated_jobs/
**/wandb/
**/pythia-70m-deduped/